@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family:'Roboto', -apple-system, BlinkMacSystemFont,  'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#gridContainer {
  max-height: 80vh; 
}

.gridContainer {
  max-height: 24vh; 
}

.formulaGridContainer{
  max-height: 70vh; 
}

.dx-overlay-content {
  display: none !important;
}


.data-grid-table th {
  font-weight: bold;
}

.formulaGridContainer td {
  cursor: default;
}
.always-visible-scrollbar .dx-scrollable {
  overflow-y: scroll !important; /* Always show vertical scrollbar */
}

